@import "mixins";

.body-tab-set {
	padding-left: 0;
	padding-right: 0;
	background-color: #f4f4f4;
	@include shadow();

	.tab-set {
		padding: 10px 60px 10px 15px;
		background-color: #ffffff;

		.nav-sm li a {
			padding: 5px 15px;
			margin-right: 4px;
			cursor: pointer;
		}
	}
}